.App {
  text-align: center;
}
p{
  font-size: 5vw;
  font-family: 'Roboto', sans-serif;

}
h1{
  font-family: 'Roboto', sans-serif;

}
h2{
  font-size: 10vw;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#image1{
  background-image: url("https://media.licdn.com/dms/image/C5612AQFa8K-wtmA7vA/article-cover_image-shrink_720_1280/0?e=1564617600&v=beta&t=AEQ6PSrru8jbxstQWoCLVtdUQn5e9ZOYQc3qgZCQZuE");
  height: 27rem;
}
#image2{
  background-image: url("https://media.licdn.com/dms/image/C5612AQEQw4xYj9PyLQ/article-cover_image-shrink_720_1280/0?e=1564617600&v=beta&t=NbZySx8moJ6dK0PDY5yPEM-H34PpIx0YICGQ4I6brxg");
  height: 27rem;
}
#image3{
  background-image: url("https://media.licdn.com/dms/image/C5612AQEROWJxGxbnxw/article-cover_image-shrink_720_1280/0?e=1564617600&v=beta&t=W-dTSZTPfRqqDvJtRJAr4C2jX52di0NzBEjBaJYJNdA");
  height: 27rem;
}
#image4{
  background-image: url("https://media.licdn.com/dms/image/C5612AQGc8PHt5SNIMg/article-cover_image-shrink_720_1280/0?e=1564617600&v=beta&t=0XXNIJXpOOJ8OgmEs0TOqN6ejLZ_-fohxXusiuzQsJg");
  height: 27rem;
}
#image5{
  background-image: url("https://media.licdn.com/dms/image/C5612AQHlX-t1J2Et0A/article-cover_image-shrink_720_1280/0?e=1564617600&v=beta&t=ai1Vy-nG-F4rt6bYThFCJIVcEeV91PuqtW7jrvDv7ro");
  height: 27rem;
}
#image6{
  background-image: url("https://media.licdn.com/dms/image/C5612AQFP3MZPKj8orA/article-cover_image-shrink_423_752/0?e=1564617600&v=beta&t=PpsctbWuO9s4WW0Gjp01rcwsjdXYHR33hd4toUX74hk");
  height: 27rem;
}
#image7{
  background-image: url("https://media.licdn.com/dms/image/C5612AQHeA4Vb33mFXA/article-cover_image-shrink_423_752/0?e=1564617600&v=beta&t=nJR7rCO1Y7e5HA0ZJ6999AjR287V1g8vXCpvGk6WCoo");
  height: 27rem;
}
#image8{
  background-image: url("https://media.licdn.com/dms/image/C5612AQHmDhzn3dpiSw/article-cover_image-shrink_720_1280/0?e=1564617600&v=beta&t=MAYg1LU2k-_Vjfvp-QB6iKtE9GxxvneNZdk5EZKDBVk");
  height: 27rem;
}
#image9{
  background-image: url("https://media.licdn.com/dms/image/C5612AQH9bqcox7WWyw/article-cover_image-shrink_720_1280/0?e=1564617600&v=beta&t=SpGQJpTfamIzf9gDeMfUFN8-HTTD-YH0uIvyxzEytkg");
  height: 27rem;
}
#image10{
  background-image: url("https://media.licdn.com/dms/image/C5612AQG3fqlLCOlP8Q/article-cover_image-shrink_423_752/0?e=1564617600&v=beta&t=z51vHWWzPfmh5zLDLFVuNjQuEOfOlgOyFZPYCdOR3Ek");
  height: 27rem;
}
#image11{
  background-image: url("https://media.licdn.com/dms/image/C5612AQGH8dWJouqW4Q/article-cover_image-shrink_720_1280/0?e=1564617600&v=beta&t=6AKvcjEsrlKffAJmZT6Zg22ig68Tx2zG3zj2xZnmhzg");
  height: 27rem;
}
#image12{
  background-image: url("https://media.licdn.com/dms/image/C5612AQHQbX3EK4OPKw/article-cover_image-shrink_720_1280/0?e=1564617600&v=beta&t=GKWmokxAXDDqUTMDh6mu7gCJC9dsk3fdfazf77OPB9k");
  height: 27rem;
}
#image13{
  background-image: url("https://cdn.images.express.co.uk/img/dynamic/151/750x445/1003812.jpg");
  height: 27rem;
}